{% assign current_lang = page.lang | default: 'en' %}
{% assign t = site.data.translations[current_lang] %}
<footer class="footer-main">
    {{ t.title }} © {{ site.time | date: '%Y' }}

    <a class="link" href="{{ site.url }}/feed.xml" target="_blank">
        <i class="fa-solid fa-rss"></i>
    </a>

<!--     <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a>
        by
        <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p> -->
</footer>
