{% assign current_lang = page.lang | default: 'en' %}
{% assign t = site.data.translations[current_lang] %}
<nav class="{% if page.title == "Home" or page.title == "خانه" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% assign home_title = t.nav.home %}
        {% if page.title != "Home" and page.title != "خانه" %}
            <li class="item">
                <a class="link" href="{% if current_lang == 'fa' %}{{ site.url }}/fa/{% else %}{{ site.url }}/{% endif %}">{{ home_title }}</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% assign blog_title = t.nav.blog %}
            {% if page.title != "Blog" and page.title != "وبلاگ" %}
                <li class="item">
                    <a class="link" href="{% if current_lang == 'fa' %}{{ site.url }}/fa/blog{% else %}{{ site.url }}/blog{% endif %}">{{ blog_title }}</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% assign projects_title = t.nav.projects %}
            {% if page.title != "Projects" and page.title != "پروژه‌ها" %}
                <li class="item">
                    <a class="link" href="{% if current_lang == 'fa' %}{{ site.url }}/fa/projects{% else %}{{ site.url }}/projects{% endif %}">{{ projects_title }}</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% assign about_title = t.nav.about %}
            {% if page.title != "About" and page.title != "درباره من" %}
                <li class="item">
                    <a class="link" href="{% if current_lang == 'fa' %}{{ site.url }}/fa/about{% else %}{{ site.url }}/about{% endif %}">{{ about_title }}</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.presentations == true %}
            {% assign presentations_title = t.nav.presentations %}
            {% if page.title != "Presentations" and page.title != "ارائه‌ها" %}
                <li class="item">
                    <a class="link" href="{% if current_lang == 'fa' %}{{ site.url }}/fa/presentations{% else %}{{ site.url }}/presentations{% endif %}">{{ presentations_title }}</a>
                </li>
            {% endif %}
        {% endif %}
        <li class="item">
            <a class="link" href="{{ site.url }}/grand-explainer.html">{{ t.nav.contest }}</a>
        </li>
        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">{{ t.nav.resume }}</a>
            </li>
        {% endif %}
    </ul>
</nav>
